# Copyright (c) 2023 VEXXHOST, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.

# Image to use for kube-vip
kube_vip_image: ghcr.io/kube-vip/kube-vip:v0.6.4

# Interface to use for kube-vip
kube_vip_interface: "{{ keepalived_interface | default(kubernetes_keepalived_interface) }}"

# IP address to use for kube-vip
kube_vip_address: "{{ keepalived_vip | default(kubernetes_keepalived_vip) }}"

# VIP mode for kube-vip (valide options: arp or bgp)
kube_vip_mode: arp

# BGP peers, if BGP is enabled
# kube_vip_bgp_peers: 192.168.0.10:65000::false,192.168.0.11:65000::false

# BGP peer as, if BGP is enabled
# kube_vip_bgp_peeras: "65000"

# AS of a single BGP Peer, if BGP is enabled
# kube_vip_bgp_as: "65000"

# BGP router id, if BGP is enabled
# kube_vip_bgp_routerid: 192.168.0.2
#
# kube_vip_bgp_routerinterface: ens3

# Address of a single BGP Peer, if BGP is enabled
# kube_vip_bgp_peeraddress:

# password to work with a single BGP Peer, if BGP is enabled
# kube_vip_bgp_peerpass:
