kubelet_package_dependencies:
  - conntrack
  # NOTE(fitbeard): This is to allow our tests to run on Docker containers since
  #                 Rocky Linux images comes with pre-installed thiner versions
  #                 of some packages.
  - "{{ 'coreutils-single' if 'docker' in ansible_connection else 'coreutils' }}"
  - ebtables
  - ethtool
  - iproute
  - socat
  - util-linux
