---
site_name: Ansible collection for Kubernetes
theme:
  name: material
  features:
    - content.code.copy
    - content.tabs.link
    - navigation.tracking
markdown_extensions:
  - admonition
  - def_list
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
plugins:
  - literate-nav:
      nav_file: SUMMARY.md
