# Copyright (c) 2025 VEXXHOST, Inc.
# SPDX-License-Identifier: Apache-2.0

---
# See: https://github.com/kubernetes-sigs/cluster-api/issues/3982
cluster_api_github_token: ""

cluster_api_provider_path: /var/lib/cluster-api/providers

# cluster_api_version:

cluster_api_core_provider: cluster-api
cluster_api_core_version: "{{ cluster_api_version }}"

cluster_api_bootstrap_provider: kubeadm
cluster_api_bootstrap_version: "{{ cluster_api_version }}"

cluster_api_control_plane_provider: kubeadm
cluster_api_control_plane_version: "{{ cluster_api_version }}"

# cluster_api_infrastructure_provider:
# cluster_api_infrastructure_version:

cluster_api_node_selector: {}

# https://cluster-api-openstack.sigs.k8s.io/clusteropenstack/configuration.html#timeout-settings
cluster_api_capo_instance_create_timeout: 10
