# Copyright (c) 2025 VEXXHOST, Inc.
# SPDX-License-Identifier: Apache-2.0

---
# See: https://github.com/kubernetes-sigs/cluster-api/issues/3982
cluster_api_github_token: ""

cluster_api_provider_path: /var/lib/cluster-api/providers

# cluster_api_version:

cluster_api_core_provider: cluster-api
cluster_api_core_version: "{{ cluster_api_version }}"

cluster_api_bootstrap_provider: kubeadm
cluster_api_bootstrap_version: "{{ cluster_api_version }}"

cluster_api_control_plane_provider: kubeadm
cluster_api_control_plane_version: "{{ cluster_api_version }}"

# cluster_api_infrastructure_provider:
# cluster_api_infrastructure_version:

cluster_api_node_selector: {}

# https://cluster-api-openstack.sigs.k8s.io/clusteropenstack/configuration.html#timeout-settings
cluster_api_capo_instance_create_timeout: 10

# Available CAPI core versions in upgrade order (must be sequential minor versions)
# Cluster API does not support skipping minor versions during upgrades
cluster_api_available_core_versions:
  - "1.3.2"
  - "1.4.4"
  - "1.5.1"
  - "1.6.0"
  - "1.8.4"
  - "1.9.6"
  - "1.10.5"

# Available infrastructure-openstack versions in upgrade order
cluster_api_available_infrastructure_openstack_versions:
  - "0.7.0"
  - "0.7.1"
  - "0.8.0"
  - "0.9.0"
  - "0.10.5"
  - "0.11.2"
  - "0.11.6"
  - "0.12.4"
