# Copyright (c) 2025 VEXXHOST, Inc.
# SPDX-License-Identifier: Apache-2.0

---
- name: Create a folder for the Cluster API providers
  ansible.builtin.file:
    path: "{{ cluster_api_provider_path }}"
    state: directory
    mode: "0755"
    owner: root
    group: root

- name: Copy over all provider configuration to the remote system
  vexxhost.kubernetes.multi_copy:
    src: "{{ role_path }}/files/providers"
    dest: "{{ cluster_api_provider_path }}"
    mode: "0755"
    owner: root
    group: root

- name: Get a list of all Cluster API providers
  run_once: true
  kubernetes.core.k8s_info:
    api_version: clusterctl.cluster.x-k8s.io/v1alpha3
    kind: Provider
  register: cluster_api_providers

- name: Initialize Cluster API
  ansible.builtin.import_tasks: init.yml
  when: cluster_api_providers.resources | length == 0

- name: Upgrade Cluster API
  ansible.builtin.import_tasks: upgrade.yml
  when: cluster_api_providers.resources | length != 0

- name: Patch Cluster API
  ansible.builtin.import_tasks: patch.yml
