# Copyright (c) 2025 VEXXHOST, Inc.
# SPDX-License-Identifier: Apache-2.0

- name: Set node selector for Cluster API components
  kubernetes.core.k8s:
    definition:
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: "{{ item.name }}"
        namespace: "{{ item.namespace }}"
      spec:
        template:
          spec:
            nodeSelector: "{{ cluster_api_node_selector }}"
    wait: true
  loop:
    - namespace: capi-kubeadm-bootstrap-system
      name: capi-kubeadm-bootstrap-controller-manager
    - namespace: capi-kubeadm-control-plane-system
      name: capi-kubeadm-control-plane-controller-manager
    - namespace: capi-system
      name: capi-controller-manager
    - namespace: capo-system
      name: capo-controller-manager

- name: Install required controllers
  kubernetes.core.k8s:
    state: present
    template:
      - path: "controllers/{{ cluster_api_infrastructure_provider }}-resource-controller/install.yaml.j2"
    apply: true
    server_side_apply:
      field_manager: ansible
      force_conflicts: true
  run_once: true
  when:
    - cluster_api_infrastructure_provider == "openstack"
    - cluster_api_infrastructure_version is ansible.builtin.version('0.12.0', 'ge')

# Note(okozachenko1203): Until https://github.com/kubernetes-sigs/cluster-api/issues/9132 is fixed,
#                        set the default value of imagePullPolicy in CRDs.
# yamllint disable rule:line-length
- name: Set default values for imagePullPolicy in kubeadmConfigSpec of CRDs
  when: cluster_api_control_plane_version | float >= 1.4
  kubernetes.core.k8s_json_patch:
    kind: CustomResourceDefinition
    name: "{{ item.crd }}"
    patch:
      - op: add
        path: "{{ item.path }}"
        value: "IfNotPresent"
    wait: true
  loop:
    - {"crd": "kubeadmcontrolplanetemplates.controlplane.cluster.x-k8s.io", "path": "/spec/versions/1/schema/openAPIV3Schema/properties/spec/properties/template/properties/spec/properties/kubeadmConfigSpec/properties/initConfiguration/properties/nodeRegistration/properties/imagePullPolicy/default"}
    - {"crd": "kubeadmcontrolplanetemplates.controlplane.cluster.x-k8s.io", "path": "/spec/versions/1/schema/openAPIV3Schema/properties/spec/properties/template/properties/spec/properties/kubeadmConfigSpec/properties/joinConfiguration/properties/nodeRegistration/properties/imagePullPolicy/default"}
    - {"crd": "kubeadmconfigs.bootstrap.cluster.x-k8s.io", "path": "/spec/versions/2/schema/openAPIV3Schema/properties/spec/properties/initConfiguration/properties/nodeRegistration/properties/imagePullPolicy/default"}
    - {"crd": "kubeadmconfigs.bootstrap.cluster.x-k8s.io", "path": "/spec/versions/2/schema/openAPIV3Schema/properties/spec/properties/joinConfiguration/properties/nodeRegistration/properties/imagePullPolicy/default"}
    - {"crd": "kubeadmconfigtemplates.bootstrap.cluster.x-k8s.io", "path": "/spec/versions/2/schema/openAPIV3Schema/properties/spec/properties/template/properties/spec/properties/initConfiguration/properties/nodeRegistration/properties/imagePullPolicy/default"}
    - {"crd": "kubeadmconfigtemplates.bootstrap.cluster.x-k8s.io", "path": "/spec/versions/2/schema/openAPIV3Schema/properties/spec/properties/template/properties/spec/properties/joinConfiguration/properties/nodeRegistration/properties/imagePullPolicy/default"}
    - {"crd": "kubeadmcontrolplanes.controlplane.cluster.x-k8s.io", "path": "/spec/versions/2/schema/openAPIV3Schema/properties/spec/properties/kubeadmConfigSpec/properties/initConfiguration/properties/nodeRegistration/properties/imagePullPolicy/default"}
    - {"crd": "kubeadmcontrolplanes.controlplane.cluster.x-k8s.io", "path": "/spec/versions/2/schema/openAPIV3Schema/properties/spec/properties/kubeadmConfigSpec/properties/joinConfiguration/properties/nodeRegistration/properties/imagePullPolicy/default"}

- name: Set CAPO instance creation timeout
  when: cluster_api_infrastructure_provider == "openstack"
  kubernetes.core.k8s_json_patch:
    kind: Deployment
    namespace: capo-system
    name: capo-controller-manager
    patch:
      - op: add
        path: /spec/template/spec/containers/0/env
        value: []
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value:
          name: CLUSTER_API_OPENSTACK_INSTANCE_CREATE_TIMEOUT
          value: "{{ cluster_api_capo_instance_create_timeout | quote }}"
    wait: true
