# Copyright (c) 2025 VEXXHOST, Inc.
# SPDX-License-Identifier: Apache-2.0

---
galaxy_info:
  author: VEXXHOST, Inc.
  description: Ansible role for Cluster API
  license: Apache-2.0
  min_ansible_version: 5.5.0
  standalone: false
  platforms:
    - name: EL
      versions:
        - "8"
        - "9"
    - name: Ubuntu
      versions:
        - focal
        - jammy

dependencies:
  - role: vexxhost.kubernetes.clusterctl
    vars:
      clusterctl_providers:
        - name: cluster-api
          type: CoreProvider
          url: "{{ cluster_api_provider_path }}/{{ cluster_api_core_provider }}/v{{ cluster_api_core_version }}/core-components.yaml"
        - name: kubeadm
          type: BootstrapProvider
          url: "{{ cluster_api_provider_path }}/bootstrap-{{ cluster_api_bootstrap_provider }}/v{{ cluster_api_bootstrap_version }}/bootstrap-components.yaml"
        - name: kubeadm
          type: ControlPlaneProvider
          url: "{{ cluster_api_provider_path }}/control-plane-{{ cluster_api_control_plane_provider }}/v{{ cluster_api_control_plane_version }}/control-plane-components.yaml" # yamllint disable-line rule:line-length
        - name: openstack
          type: InfrastructureProvider
          url: "{{ cluster_api_provider_path }}/infrastructure-{{ cluster_api_infrastructure_provider }}/v{{ cluster_api_infrastructure_version }}/infrastructure-components.yaml" # yamllint disable-line rule:line-length
