image:
  repository: "{{ cilium_node_image | vexxhost.kubernetes.docker_image('name') }}"
  tag: "{{ cilium_node_image | vexxhost.kubernetes.docker_image('tag') }}"
  useDigest: false
hubble:
  enabled: false
tunnel: geneve
tunnelPort: 6082
operator:
  image:
    repository: "{{ cilium_operator_image | vexxhost.kubernetes.docker_image('name') | replace('-generic', '') }}"
    tag: "{{ cilium_operator_image | vexxhost.kubernetes.docker_image('tag') }}"
    useDigest: false
  nodeSelector:
{% if cilium_k8s_cluster_info.version.server.kubernetes.gitVersion is version('v1.20.0', '>=') %}
    node-role.kubernetes.io/control-plane: ""
{% else %}
    node-role.kubernetes.io/master: ""
{% endif %}
ipam:
  operator:
    clusterPoolIPv4PodCIDRList:
      - "{{ cilium_ipv4_cidr | default('10.0.0.0/8') }}"
{% if cilium_replace_kube_proxy %}
k8sServiceHost: "{{ kubernetes_hostname }}"
k8sServicePort: 6443
kubeProxyReplacement: "true"
kubeProxyReplacementHealthzBindAddr: "0.0.0.0:10256"
{% endif %}
upgradeCompatibility: "1.13"
