# Copyright (c) 2025 VEXXHOST, Inc.
# SPDX-License-Identifier: Apache-2.0

- name: Create build directory
  ansible.builtin.file:
    path: "{{ openstack_resource_controller_build_directory }}"
    state: directory
    mode: "0755"
    owner: root
    group: root

- name: Upload Kustomization
  ansible.builtin.template:
    src: kustomization.yaml.j2
    dest: "{{ openstack_resource_controller_build_directory }}/kustomization.yaml"
    mode: "0644"
    owner: root
    group: root

- name: Generate manifests
  vexxhost.kubernetes.kustomize:
    src: "{{ openstack_resource_controller_build_directory }}"
    dest: "{{ openstack_resource_controller_build_file }}"

- name: Apply manifest to cluster
  kubernetes.core.k8s:
    src: "{{ openstack_resource_controller_build_file }}"
    apply: true
    server_side_apply:
      field_manager: ansible
      force_conflicts: true

- name: Patch openstack-resource-controller
  ansible.builtin.import_tasks: patch.yml
