# Copyright (c) 2025 VEXXHOST, Inc.
# SPDX-License-Identifier: Apache-2.0

---
- name: Bootstrap cluster
  ansible.builtin.include_tasks: bootstrap-cluster.yml

- name: Create folder for admin configuration
  ansible.builtin.file:
    path: /root/.kube
    state: directory
    owner: root
    group: root
    mode: "0750"

- name: Creating a symlink for admin configuration file
  ansible.builtin.file:
    src: /etc/kubernetes/admin.conf
    dest: /root/.kube/config
    state: link
    force: true

- name: Add bash autocomplete for kubectl
  ansible.builtin.lineinfile:
    path: /root/.bashrc
    line: "source <(kubectl completion bash)"
    insertbefore: EOF

- name: Install Kubernetes python package using PIP
  when: >
    (ansible_facts['distribution'] == 'Ubuntu' and ansible_facts['distribution_major_version'] is version('22', '<=')) or
    (ansible_facts['distribution'] == 'Debian' and ansible_facts['distribution_major_version'] is version('12', '<=')) or
    (ansible_facts['distribution'] in ['RedHat', 'Rocky'] and ansible_facts['distribution_major_version'] is version('8', '<='))
  block:
    # TODO(fitbeard): Move common system packages from all roles to dedicated role.
    - name: Install PIP
      ansible.builtin.package:
        name:
          - python3-pip
          - python3-cryptography

    - name: Install Kubernetes Python package using pip on supported systems
      ansible.builtin.pip:
        name: kubernetes

- name: Install Kubernetes Python package using package manager
  when: >
    (ansible_facts['distribution'] == 'Ubuntu' and ansible_facts['distribution_major_version'] is version('22', '>')) or
    (ansible_facts['distribution'] == 'Debian' and ansible_facts['distribution_major_version'] is version('12', '>')) or
    (ansible_facts['distribution'] in ['RedHat', 'Rocky'] and ansible_facts['distribution_major_version'] is version('8', '>'))
  block:
    - name: Enable EPEL repository
      ansible.builtin.package:
        name: epel-release
      when: ansible_facts['os_family'] == "RedHat"

    - name: Install Kubernetes Python package using package manager on supported systems
      ansible.builtin.package:
        name: python3-kubernetes

- name: Allow workload on control plane node
  kubernetes.core.k8s_taint:
    state: absent
    name: "{{ kubernetes_node_hostname }}"
    taints:
      - effect: NoSchedule
        key: node-role.kubernetes.io/control-plane
      - effect: NoSchedule
        key: node-role.kubernetes.io/master

- name: Remove kube-proxy resources
  run_once: true
  kubernetes.core.k8s:
    state: absent
    api_version: v1
    kind: "{{ item }}"
    namespace: kube-system
    name: kube-proxy
  with_items:
    - DaemonSet
    - ConfigMap
  when: kubernetes_remove_kube_proxy | bool

- name: Upgrade if necessary
  when:
    - kubernetes_upgrade_check_upgrade_required is defined
    - kubernetes_upgrade_check_upgrade_required | bool
  block:
    - name: Start an upgrade
      run_once: true
      changed_when: true
      ansible.builtin.shell: |
        kubeadm upgrade apply --v=5 --yes v{{ kubernetes_version }}

    - name: Check if the Kubernetes API services is up to date
      ansible.builtin.command:
        cmd: grep -q "v{{ kubernetes_version }}" /etc/kubernetes/manifests/kube-apiserver.yaml
      changed_when: false
      ignore_errors: true
      register: kube_apiserver_version_check

    - name: Trigger an upgrade of the Kubernetes API services
      throttle: 1
      changed_when: true
      ansible.builtin.shell: |
        kubeadm upgrade node
      when: kube_apiserver_version_check is failed
