# TODO(mnaser): Switch to local vendored files once it works.
resources:
- https://github.com/k-orc/openstack-resource-controller.git/config/default?ref=v2.2.0

images:
- name: controller
  newName: {{ openstack_resource_controller_image }}
  newTag: {{ openstack_resource_controller_image_tag }}
