resources:
- ../openstack-resource-controller-{{ openstack_resource_controller_version }}

images:
- name: controller
  newName: {{ openstack_resource_controller_image }}
  newTag: {{ openstack_resource_controller_image_tag }}
