# Copyright (c) 2025 VEXXHOST, Inc.
# SPDX-License-Identifier: Apache-2.0

---
- name: Prepare
  hosts: all
  strategy: ansible.builtin.linear
  tasks:
    - name: Install development collection dependencies
      ansible.builtin.command:
        cmd: ansible-galaxy collection install -r dev-requirements.yml
      delegate_to: localhost
      run_once: true

    - name: Install Debian packages
      become: true
      ansible.builtin.apt:
        name: ["gnupg"]
        update_cache: true
      when: ansible_facts['os_family'] == "Debian"
