# Copyright (c) 2025 VEXXHOST, Inc.
# SPDX-License-Identifier: Apache-2.0

---
- name: Configure Kubernetes VIP
  hosts: "{{ kubernetes_control_plane_group | default('controllers') }}"
  become: true
  roles:
    - role: kube_vip
      tags:
        - kube-vip

- name: Install Kubernetes components
  hosts: "{{ kubernetes_group | default('all') }}"
  become: true
  roles:
    - role: vexxhost.containers.containerd
      tags:
        - containerd

    - role: kubernetes_upgrade_check
    - role: kubeadm
      vars:
        kubeadm_version: "{{ kubernetes_version }}"

    - role: kubectl
      vars:
        kubectl_version: "{{ kubernetes_version }}"

    - role: kubelet
      vars:
        kubelet_version: "{{ kubernetes_version }}"

- name: Install Kubernetes
  hosts: "{{ kubernetes_group | default('all') }}"
  strategy: ansible.builtin.linear
  become: true
  roles:
    - role: kubernetes
      tags:
        - kubernetes

- name: Install control-plane components
  hosts: "{{ kubernetes_control_plane_group | default('controllers') }}"
  strategy: ansible.builtin.linear
  become: true
  roles:
    - role: helm
      tags:
        - helm

    - role: cilium
      tags:
        - cilium

    # - role: csi
    #   tags:
    #     - csi
