# Copyright (c) 2023 VEXXHOST, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.

name: molecule

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        scenario:
          - cluster-api
          - cluster-api-upgrade
          - helm
          - upload-helm-chart
        distro:
          - rockylinux8
          - rockylinux9
          - ubuntu2004
          - ubuntu2204
    steps:
      - name: Checkout project
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"
          cache: pip

      - name: Install Molecule
        run: pip install -r requirements.txt

      - name: Turn off swap
        run: sudo swapoff -a

      - name: Run Molecule
        run: molecule test -s ${{ matrix.scenario }}
        env:
          MOLECULE_DISTRO: ${{ matrix.distro }}

  kubernetes:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        version:
          - 1.19.16
          - 1.20.15
          - 1.21.14
          - 1.22.17
          - 1.23.17
          - 1.24.17
          - 1.25.16
          - 1.26.11
          - 1.27.8
          - 1.28.4
        distro:
          - rockylinux8
          - rockylinux9
          - ubuntu2004
          - ubuntu2204
        scenario:
          - aio
          - ha
    steps:
      - name: Checkout project
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"
          cache: pip

      - name: Install Molecule
        run: pip install -r requirements.txt

      - name: Turn off swap
        run: sudo swapoff -a

      - name: Run Molecule
        run: molecule test -s ${{ matrix.scenario }}
        env:
          MOLECULE_DISTRO: ${{ matrix.distro }}
          KUBERNETES_VERSION: ${{ matrix.version }}

  upgrades:
    runs-on: v3-standard-4
    strategy:
      fail-fast: false
      matrix:
        include:
          - old_version: 1.19.16
            version: 1.20.15
          - old_version: 1.20.15
            version: 1.21.14
          - old_version: 1.21.14
            version: 1.22.17
          - old_version: 1.22.17
            version: 1.23.17
          - old_version: 1.23.17
            version: 1.24.17
          - old_version: 1.24.17
            version: 1.25.16
          - old_version: 1.25.16
            version: 1.26.11
          - old_version: 1.26.11
            version: 1.27.8
          - old_version: 1.27.8
            version: 1.28.4
    steps:
      - name: Checkout project
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"
          cache: pip

      - name: Install Molecule
        run: pip install -r requirements.txt

      - name: Turn off swap
        run: sudo swapoff -a

      - name: Run Molecule
        run: molecule test -s cluster-upgrade
        env:
          OLD_KUBERNETES_VERSION: ${{ matrix.old_version }}
          KUBERNETES_VERSION: ${{ matrix.version }}
